<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>List Posts</title>
</head>
<body>
		
	<div layout:fragment="content">
	
		<h2>Posts</h2>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Posted On</th>
					<th>Slug</th>
					<th>Author</th>
					<th>View</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="post : ${posts}">
					<td th:text="${post.title}">title</td>
					<td th:text="${#calendars.format(post.postedOn,'M/dd/yyyy hh:mm:ss a')}">posted on</td>
					<td th:text="${post.slug}">slug</td>
					<td th:text="${post.author.firstName + ' ' + post.author.lastName}">author</td>
					<td><a href="#" th:href="@{/admin/post/} + ${post.id}">View</a></td>
				</tr>
			</tbody>
		</table>
		
		<a href="#">Add New Post</a>
		<br/><br/>
		
		<p th:if="${posts.size() == 0}">
			<div class="alert alert-warning" role="alert">No Posts Found.</div>
		</p>
		
	</div>
		
</body>
</html>