<!DOCTYPE html>
<layout:html lang="en"
			 xmlns:th="http://www.thymeleaf.org"
			 layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>List Authors</title>
</head>
<body>
		
	<div layout:fragment="content">
	
    	<table class="table table-striped">
			<thead> 
				<tr> 
					<th>#</th> 
					<th>First Name</th> 
					<th>Last Name</th> 
					<th>Email</th> 
					<th>Posts By Author</th>
				</tr> 
			</thead>
			<tbody>
				<tr th:each="author, iterationStatus : ${authors}">
					<td th:text="${iterationStatus.count}">1</td>
					<td th:text="${author.firstName}">First Name</td>
					<td th:text="${author.lastName}">Last Name</td>
					<td th:text="${author.email}">Email Address</td>
					<td><a th:href="|/posts/byAuthor/${author.id}|">Posts By Author</a></td>
				</tr>
			</tbody>
		</table>

	</div>
		
</body>
</layout:html>